{% extends 'layout.html' %}

{%block body%}

<body>
    <h1>Crear Categoría</h1>
    <form method="POST" action="/crear_categoria">
        <label for="type">TIPO CATEGORIA</label><br>
        <div>
            <input type="radio" id="ingreso" name="type" value="ingreso" checked />
            <label for="ingreso">Ingreso</label>

            <input type="radio" id="gasto" name="type" value="gasto" />
            <label for="gasto">Gasto</label>
          </div>
          <br>
        <label for="category_name">NOMBRE CATEGORIA</label><br>
        <input type="text" id="category_name" name="category_name"></input><br>
        <label for="description">DESCRIPCION</label><br>
        <input type="text" id="description" name="description"></input><br>
        <button type="submit">Crear</button>
    </form>
</body>


{% endblock %}