{% extends 'layout.html' %}

{%block body%}

<body>
    <h1>Registro</h1>
    <form method="POST" action="/crear_gasto">
        <label for="type">TIPO REGISTRO</label><br>
        <div>
            <input type="radio" id="ingreso" name="type" value="ingreso" checked />
            <label for="ingreso">Ingreso</label>

            <input type="radio" id="gasto" name="type" value="gasto" />
            <label for="gasto">Gasto</label>
          </div>
          <br>
        <label for="category_name">CATEGORIA</label><br>
        <input type="text" id="category_name" name="category_name"></input><br>
        <label for="amount">MONTO</label><br>
        <input type="text" id="amount" name="amount"></input><br>
        <button type="submit">Crear</button>
    </form>
</body>


{% endblock %}