{% extends 'layout.html' %}

{%block body%}

<body>
    <h1>Registro</h1>
    <h2>grafica</h2>
    
    <iframe id="Example2"
    name="Example2"
    title="Example2"
    width="400"
    height="300"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://proyecto-ag-uizejnid7a-uk.a.run.app/index?output=embed">
</iframe>


</body>


{% endblock %}